.orderProduct {
    width: 90%;
    margin: 20px;
    display: flex;
    background-color: #fff;
    color: black;
    text-align: center;
}

.orderProductImg {
    width: 10%;
    height: 100%;
}

.orderProductImg img {
    width: 100%;
    height: 100%;
}

.informationAboutProduct {
    font-size: 36px;
    float: left;
    margin: 0 30px;
}

.orderProductName {
    height: 50%;
    font-size: 60px;
}

@media only screen and (max-width:768px) {
    .orderProductImg {
        width: 80%;
    }
    .orderProductName {
        height: 40%;
        font-size: 40px;
        font-weight: bold;
    }
    .productInformation {
        display: flex;
        flex-direction: column;
    }
}