.allProducts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.product {
    text-align: center;
    background-color: black;
}

.productImg {
    overflow: hidden;
}

.product img {
    width: 80%;
    height: 60%;
    transition: all 0.5s ease-in-out;
}

.product img:hover {
    transform: scale(1.15);
}

.productName {
    font-weight: bold;
}

.price {
    font-weight: bold;
}

@media only screen and (max-width:768px) {
    .allProducts {
        grid-template-columns: 1fr 1fr;
    }
    .amountOfProductsInput {
        min-width: 80%;
    }
    .addToBagButton {
        min-width: 80%;
    }
}

.amountOfProducts {
    position: absolute;
    background-color: #1a1a1a;
    width: 50%;
    right: 0%;
    z-index: 10;
    border: 5px solid #1a1a1a;
    padding: 20px;
}

.amountOfProducts img {
    max-width: 60%;
}

.productDescription {
    width: 30%;
    float: right;
    padding: 20px;
}

.amountOfProductsInput {
    width: 20%;
    margin: 20px;
    height: 45px;
    float: left;
}

.sizeInput {
    width: 20%;
    margin: 20px;
    height: 50px;
    float: left;
}

.addToBagButton {
    width: 40%;
    margin: 20px;
    height: 50px;
    float: left;
}

.addToBagButton:hover {
    background-color: #fe7f00;
}

.OrderingButton {
    background-color: #fff;
    width: 40%;
    min-height: 80px;
    font-size: 50px;
    margin: 100px 0;
    position: relative;
    left: 30%;
}

.OrderingButton:hover {
    background-color: #fe7f00;
}

@media only screen and (max-width:768px) {
    .OrderingButton {
        font-size: 32px;
        margin: 30px 0;
    }
    .amountOfProducts img {
        max-width: 80%;
        margin-left: 10%;
    }
    .productDescription {
        width: 80%;
        text-align: center;
        padding: 20px;
    }
}